@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

$gray: rgba(128, 128, 128, 0.479);
$poiret-font: 'Poiret One', cursive;
$comfortaa-font: 'Comfortaa', cursive;

$principal: rgb(54, 175, 163);
$principal-1: rgba(74, 175, 165, 0.904);

$principal-oo: rgba(54, 175, 163, 0.204);

$border-black: rgba(0, 0, 0, 0.247);

$alt: rgb(255, 194, 80);
